* {
    margin: 0; padding: 0; box-sizing: border-box; font-family: Arial, Helvetica, sans-serif;
}

.main-container {
    width: 100%;
    min-height: 100vh;

    display: flex;
    
    padding: 50px;
    gap: 10px;

}
.main-nav {
    width: 100%;
    height: 10vh;
    padding: 0 40px;
    
}
.main-nav nav{
    width: 100%;
    height: 10vh;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-nav span {
    font-size: 30px;
    color: black;
    font-weight: bolder;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.main-nav span img {
    width: 35px;
    background-color: purple;
    padding: 5px;
    border-radius: 10px;
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.459),0 0 10px rgba(0, 0, 0, 0.177);
}

.main-nav ul {
    width: 40%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
       
}

.main-nav ul li a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.81);
}


.main-nav button {
    padding: 12px 24px;
    background-color: white;
    color: rgb(124, 3, 253);
    border: 1px solid rgba(208, 1, 231, 0.582);
    border-radius: 25px;
}

/* left section-text*/

.left-section {
    width: 50%;
    height: auto;

    display: flex;
    align-items: start;
    /* justify-content: space-around; */
    flex-direction: column;
    /* padding: 0 50px; */
    gap: 30px;
    
}
.left-section text {
    display: flex;
    align-items: start;
    justify-content: space-around;

    gap: 5px;

}
.text h1 {
    font-size: 110px;
    background: -webkit-linear-gradient(#ffffff, #b504fb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bolder;
}

.text h2 {
    font-size: 95px;
    color: black;
    font-weight: bolder;
}

.left-section p {
    font-size: 18px;
    color: rgba(0, 0, 0, 0.776);
    /* font-weight: lighter; */
}

.duo {
    display: flex;
    gap: 15px;
}

.duo button {
    padding: 18px 36px;
    color: white;
    background-color: #c104fb;
    border: none;
    border-radius: 30px;

}

.duo button img {
    width: 27px;

    padding: 5px;
}

.duo button:nth-child(2) {
    color: black;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.387);

    
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

}

.left-section h3 {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.693);
}

.left-section span {
font-size: 30px;
color: black;
font-weight: bolder;

display: flex;
align-items: center;
justify-content: center;
gap: 5px;
}

.left-section span img {
width: 180px!important;
object-fit: cover;
gap: 15px;
height: 50px;
/* background-color: purple; */
padding: 9px;
border-radius: 5px;
margin-top: -6px;
/* box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.459),0 0 10px rgba(0, 0, 0, 0.177); */
}

/* right section image */

.right-section {
    width: 50%;
    min-height: 100vh;
}

.right-section img {
    width: 100%;
    object-fit: cover;
    /* padding: 50px; */

    background: #b504fb;
    /* box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.459),0 0 10px rgba(0, 0, 0, 0.177); */
    background: linear-gradient(110deg, #b504fb 0%, rgba(253,248,254,1) 56%);
}

.second-nav {
    width: 85%;
    min-height: 14vh;

    display: flex;
    align-items: center;
    border-radius: 25px;
    /* justify-content: space-between; */

    background-color: black;
    margin: auto;
    /* margin-left: 100px; */
    /* margin-top: -100px; */
}

.second-nav ul {
    width: 100%;
    min-height: 14vh;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: space-around;

    background-color: black;

}

.second-nav ul img {
    width: 10%;
    height: 15%;
    object-fit: cover!important;

    background: none;
    background-color: black;

}

.second-section {
    width: 100%;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 50px;
    gap: 5px;
    /* border: 2px solid purple; */

}


.second-section-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.second-section-top h1 {
    font-size: 60px;
    font-weight: bolder;
    color: black;
    
}

.second-section-top p {
    font-size: 16px;
    /* font-weight: lighter; */
    color: rgba(0, 0, 0, 0.629);

}

.second-section-bottom {
    width: 80%;
    height: 70vh!important;

    display: flex;
    /* justify-content: center; */
    /* border: 5px solid black; */
    margin-top: 20px;
}

.first-card {
    width: 100%;
    height: 65vh;

    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    padding: 0 50px;
    /* background: rgba(242, 235, 221, 0.748); */
    background: linear-gradient(to bottom, rgb(242, 235, 221,0.748) 0%, rgb(242, 235, 221,0.748) 100%);
    border-radius: 30px;
    gap: 5px;

}

.first-card-text {
    width: 54%;
    height: 90%;

    display: flex;
    flex-direction: column;
    justify-content: center;

    gap: 35px;

}

.first-card-text h1 {
    font-size: 48px;
    font-weight: bolder;
    color: black;
}

.first-card-text p {
    font-size: 16px;
    font-weight: lighter;
    color: rgba(0, 0, 0, 0.586);
}

.first-card-image {
    width: 44%;
    min-height: 60vh;

    display: flex;
    /* align-items: center; */
    justify-content: center;

    background-color: white;
    border-radius: 30px;
    background: linear-gradient(to bottom, rgb(255, 255, 255) 0%, rgb(255, 235, 239) 100%);
    
}

.first-card-image img {
    width: 100%;
    object-fit: cover;
}


/* THIRD SECTION */
.third-section {
    width: 100%;
    height: 60vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5%;
    /* border: 1px solid red; */
}

/* THIRD SECTION LEFT SIDE */
.third-section-left {
    width: 43%;
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: end;
    border-radius: 4vw;   
    background-color: rgb(255, 235, 239);                                           
    /* border: 1px solid blue; */
}

/* THIRD SECTION RIGHT */
.third-section-right {
    width: 43%;
    height: 85%;
    display: flex;
    justify-content: space-evenly;
    align-items: end;
    border-radius: 4vw;
    padding: 0 50px;
    gap: 40px;
    background-color: rgb(236, 249, 255);
    /* border: 1px solid blue; */
}

/* THIRD SECTION INNERBOX */
.third-section-text {
    width: 85%;
    height: 90%;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-direction: column;
    position: relative;

    /* border: 1px solid green; */
}
.third-section-text h1{
    font-size: 45px;
}
.third-section-text p{
    font-size: 20px;
    padding-top: 20px;
    color: gray;
}

/* THIRD SECTION INNERBOX LEFT IMAGEBOX */
.third-section-image {
    width: 100%;
    height: 25vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2vw 2vw 0 0;
    background-color: white;
    background: linear-gradient(to bottom, rgb(255, 255, 255) 0%, rgb(255, 235, 239) 100%);
    /* position: absolute; */
    /* bottom: 0; */
    /* border: 1px solid green; */
}
.third-section-image img{
    width: 70%;
}

/* THIRD SECTION INNERBOX RIGHT IMAGEBOX */
.third-section-image {
    width: 100%;
    height: 25vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2vw 2vw 0 0;
    background-color: white;
    background: linear-gradient(to bottom, rgb(255, 255, 255) 0%, rgb(236, 249, 255) 100%);
    /* position: absolute; */
    /* bottom: 0; */
    /* border: 1px solid green; */
}
.third-section-image img{
    width: 80%;
}


/* fourth section */

.fourth-section {
    width: 100%;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: ; */
    padding: 50px;
    gap: 10px;

    background-color: rgb(249, 225, 251);
}

.fourth-section-box {
    width: 100%;
    height: 50vh;

    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    /* padding: 0 50px; */

    gap: 5px;
}

.fourth-section-image {
    width: 50%;
    height: 50vh;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    border-radius: 30px;
    /* background-color: white; */
    /* background: linear-gradient(to bottom, rgb(255, 255, 255) 0%, rgb(236, 249, 255) 100%); */
    /* position: absolute; */
    /* bottom: 0; */
    
}

.fourth-section-image img {
    width: 100%;
    object-fit: cover;
}

.fourth-section-text {
    width: 50%;
    height: 50vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    /* padding: 0 50px; */
    gap: 5px;

}

.fourth-section-text h1 {
    font-size: 50px;
    font-weight: bolder;
}

.fourth-section-text p {
    font-size: 15px;
    font-weight: lighter;
    color: rgba(0, 0, 0, 0.605);
}

.fourth-section-text button {
        padding: 18px 36px;

        background-color: rgb(249, 225, 251);
        border: 1px solid blueviolet;
        border-radius: 30px;

        display: flex;
        align-items: center;
        justify-content: center;

        margin-left: -490px;
        
}
    
.fourth-section-text button img {
        width: 27px;
        padding: 5px;
}
    

/* page-4 */

.fifth-section {
    width: 100%;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    background-color: black;
    border-radius: 30px;
}

.fifth-section-text {
    width: 100%;
    min-height: 30vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    border-radius: 30px;
    gap: 20px;
}

.fifth-section-text h1 {
    font-size: 60px;
    font-weight: bold;
    color: white;
}

.fifth-section-text p {
    font-size: 16px;
    color: rgba(254, 254, 254, 0.657);
}

.card-items {
    width: 100%;
    height: 90vh;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 50px;
    gap: 5px;

}

.first-card-items {
    width: 33.33%;
    height: 80vh;

    display: flex;
    flex-direction: column;
    align-items: start;
    /* justify-content: space-between; */

    padding: 40px;
    background-color: white;

    gap: 20px;
    border-radius: 30px;

}

.first-card-items h2 {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.594);
}

.first-card-items-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}

.first-card-items-text h1 {
    font-size: 40px;
    color: black;
}

.first-card-items-text p {
    font-size: 15px;
    color: rgba(0, 0, 0, 0.273);
}

.first-card-items h3 {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.792);
}

.first-card-items button {
    padding: 12px 24px;
    border: 1px solid black;
    border-radius: 30px;
    background-color: white;
    color: black;
}

.first-card-items-text-bottom {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    
    gap: 30px;
    padding: 5px;

    border-top: 1px solid black;
    margin-top: 20px;
}

.first-card-items-text-bottom h1 {
    color: #b504fb;
    margin-bottom: 40px;
}

.first-card-items-text-bottom p {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
    
    gap: 30px;



}

.first-card-items-text-bottom p span {
    font-size: 19px;
    color: black;

    display: flex;
    align-items: center;
    justify-content: space-between;

    gap: 5px;
}

.first-card-items-text-bottom p span img {
    width: 20px;
}

.first-card-items:nth-child(2){
    height: 100%;
    overflow: hidden;
    padding: 0 50px;
}


.fire-child {
    width: 100%!important;
    height: 10%;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #9c04d9;
    
    /* border: 1px solid red; */
}
.fire-child h2{
    color: white;
    font-size: 2vw;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.fire-child img{
    width: 2vw;
}

.sixth-section {
    width: 100%;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 0 50px;
}

.sixth-section-image {
    width: 50%;
    height: 100vh;

    display: flex;
    align-items: center;
    /* justify-content: center; */
    /* padding: 20px; */
}

.sixth-section-image img {
    width: 80%;
    object-fit: cover;
    margin-bottom: 150px;
}



.last-section {
    width: 100%;
    height: 75vh;
    /* padding: 0 50px; */

    background-color: black;
    border-radius: 25px 25px 0 0;

    display: flex;
    /* align-items: center; */
    justify-content: center;

    gap: 20px;
    position: relative;
    border: 1px solid red;
}

.last-section-image {
    width: 30%;
    height: 50%;

    display: flex;
    justify-content: center;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    /* border: 1px solid blue; */
}

.last-section-image span {
    font-size: 30px;
    color: white;
    font-weight: bolder;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.last-section-image span img {
    width: 35px;
    background-color: purple;
    padding: 5px;
    border-radius: 10px;
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.459),0 0 10px rgba(0, 0, 0, 0.177);
}

.last-section-image p {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;

    gap: 10px;
    color: aqua;
    background-color: black;
}



.last-section-image p img {
    width: 45px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid white;
    background-color: white;
    color: white;
}

.last-section-text-card {
    width: 70%;
    height: 50%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    /* gap: 85px; */
    /* border: 1px solid green; */
}

.last-section-text {
    width: 25%;
    height: 80%;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    /* gap: 50px; */
    /* padding: 60px; */
    /* border: 1px solid red; */

}

.last-section-text h1 {
    font-size: 30px;
    color: white;
}

.last-section-text p {
    font-size: 16px;
    color: gainsboro;

    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
}

.bottom-text {
    width: 100%;
    height: 20vh;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    margin-top: 350px;
    left: 0px;
    border-top: 1px solid white;
    
    color: white;
    /* border: 1px solid pink; */
    
    
}

